.md-typeset {
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  font-size: 0.8rem;
  line-height: 1.6;
  overflow-wrap: break-word;
}

.md-grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 61rem;
}

.footer-socials a {
  width: 22px;
  height: 22px;
  display: inline-block;
  opacity: 0.3;
  margin: 0 7px;
  background-repeat: no-repeat;
  background-position: center;
  align-items: flex-start;
}

.footer-socials a.f-twitter {
  background-image: url(../data-dashboard-website/images/twitter-icon.svg);
}

.footer-socials a.f-github {
  background-image: url(../data-dashboard-website/images/github-icon.svg);
}

.footer-socials a.f-reddit {
  background-image: url(../data-dashboard-website/images/reddit-icon.svg);
}

.footer-socials a.f-linkedin {
  background-image: url(../data-dashboard-website/images/linkedin-icon.svg);
}

.footer-socials a.f-youtube {
  background-image: url(../data-dashboard-website/images/youtube-icon.svg);
}
